{
  "printWidth": 100,
  "tabWidth": 2,
  "bracketSameLine": true,
  "trailingComma": "none",
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ],
  "astroAllowShorthand": true
}
