---
import { Icon } from "astro-icon/components";
---

<div
  class="fixed bottom-4 left-1/2 z-50 h-16 w-full max-w-sm -translate-x-1/2 rounded-full border border-gray-600 bg-gray-700">
  <div class="mx-auto grid h-full max-w-lg grid-cols-3">
    <a
      href="https://wa.me/972524270479"
      class="group inline-flex flex-col items-center justify-center rounded-s-full px-5 hover:bg-gray-800"
      target="_blank"
      rel="noopener noreferrer"
      title="שלח
    הודעת וואטסאפ">
      <Icon
        name="ic:sharp-whatsapp"
        class="mb-1 text-gray-400 group-hover:text-green-500"
        size="32"
      />
      <span class="sr-only">WhatsApp</span>
    </a>
    <a
      href="tel:+972524270479"
      class="group inline-flex flex-col items-center justify-center px-5 hover:bg-gray-800"
      title="התקשר אלינו">
      <Icon
        name="ic:baseline-call"
        class="mb-1 text-gray-400 group-hover:text-blue-500"
        size="32"
      />
      <span class="sr-only">Call</span>
    </a>
    <a
      href="mailto:dotan.meyer@gmail.com"
      class="group inline-flex flex-col items-center justify-center rounded-e-full px-5 hover:bg-gray-800"
      title="שלח אימייל">
      <Icon
        name="ic:outline-email"
        class="mb-1 text-gray-400 group-hover:text-yellow-500"
        size="32"
      />
      <span class="sr-only">Email</span>
    </a>
  </div>
</div>
