---
import IconCheck from "@components/IconCheck.astro";
import type { FeatureCardItem } from "@data/types";
import FeatureCard from "@components/FeatureCard.astro";
const sectionData: { cards: FeatureCardItem[] } = {
  cards: [
    {
      id: 1,
      title: "Work with tools you already use",
      description:
        "Deliver great service experiences fast - without the complexity of traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes with ease.",
      list: [
        "Continuous integration and deployment",
        "Development workflow",
        "Knowledge management"
      ],
      image: "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/features/feature-office-1.png",
      alt: "office feature image",
      reverse: false,
      message:
        "Deliver great service experiences fast - without the complexity of traditional ITSM solutions."
    },
    {
      id: 2,
      title: "We invest in the world’s potential",
      description:
        "Deliver great service experiences fast - without the complexity of traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes with ease.",
      list: ["Dynamic reports and dashboards", "Templates for everyone", "Development workflow"],
      image: "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/features/feature-office-2.png",
      alt: "office feature image 2",
      reverse: true,
      message:
        "Deliver great service experiences fast - without the complexity of traditional ITSM solutions."
    }
    // 2 More card should be added here
  ]
};
---

<section class="bg-white dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl space-y-12 px-4 py-8 sm:py-16 lg:space-y-20 lg:px-6">
    {
      sectionData.cards.map((card) => {
        return <FeatureCard data={card} />;
      })
    }
    <!-- Row -->
    <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
      <div class="text-gray-500 sm:text-lg dark:text-gray-400">
        <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white">
          Work with tools you already use
        </h2>
        <p class="mb-8 font-light lg:text-xl">
          Deliver great service experiences fast - without the complexity of traditional ITSM
          solutions.Accelerate critical development work, eliminate toil, and deploy changes with
          ease.
        </p>
        <!-- List -->
        <ul role="list" class="my-7 space-y-5 border-t border-gray-200 pt-8 dark:border-gray-700">
          <li class="flex space-x-3">
            <!-- Icon -->
            <IconCheck />
            <span class="text-base font-medium leading-tight text-gray-900 dark:text-white"
              >Continuous integration and deployment</span
            >
          </li>
          <li class="flex space-x-3">
            <!-- Icon -->
            <IconCheck />
            <span class="text-base font-medium leading-tight text-gray-900 dark:text-white"
              >Development workflow</span
            >
          </li>
          <li class="flex space-x-3">
            <!-- Icon -->
            <IconCheck />
            <span class="text-base font-medium leading-tight text-gray-900 dark:text-white"
              >Knowledge management</span
            >
          </li>
        </ul>
        <p class="mb-8 font-light lg:text-xl">
          Deliver great service experiences fast - without the complexity of traditional ITSM
          solutions.
        </p>
      </div>
      <img
        class="mb-4 hidden w-full rounded-lg lg:mb-0 lg:flex"
        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/features/feature-office-1.png"
        alt="office feature image"
      />
    </div>
    <!-- Reversed Row -->
    <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
      <img
        class="mb-4 hidden w-full rounded-lg lg:mb-0 lg:flex"
        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/features/feature-office-2.png"
        alt="office feature image 2"
      />
      <div class="text-gray-500 sm:text-lg dark:text-gray-400">
        <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white">
          We invest in the world’s potential
        </h2>
        <p class="mb-8 font-light lg:text-xl">
          Deliver great service experiences fast - without the complexity of traditional ITSM
          solutions.Accelerate critical development work, eliminate toil, and deploy changes with
          ease.
        </p>
        <!-- List -->
        <ul role="list" class="my-7 space-y-5 border-t border-gray-200 pt-8 dark:border-gray-700">
          <li class="flex space-x-3">
            <!-- Icon -->
            <IconCheck />
            <span class="text-base font-medium leading-tight text-gray-900 dark:text-white"
              >Dynamic reports and dashboards</span
            >
          </li>
          <li class="flex space-x-3">
            <!-- Icon -->
            <IconCheck />
            <span class="text-base font-medium leading-tight text-gray-900 dark:text-white"
              >Templates for everyone</span
            >
          </li>
          <li class="flex space-x-3">
            <!-- Icon -->
            <IconCheck />
            <span class="text-base font-medium leading-tight text-gray-900 dark:text-white"
              >Development workflow</span
            >
          </li>
          <li class="flex space-x-3">
            <!-- Icon -->
            <IconCheck />
            <span class="text-base font-medium leading-tight text-gray-900 dark:text-white"
              >Limitless business automation</span
            >
          </li>
          <li class="flex space-x-3">
            <!-- Icon -->
            <IconCheck />
            <span class="text-base font-medium leading-tight text-gray-900 dark:text-white"
              >Knowledge management</span
            >
          </li>
        </ul>
        <p class="font-light lg:text-xl">
          Deliver great service experiences fast - without the complexity of traditional ITSM
          solutions.
        </p>
      </div>
    </div>
  </div>
</section>
