---
import type { FeatureCardItem } from "@data/types";
import FeatureCard from "@components/FeatureCard.astro";
const sectionData: { cards: FeatureCardItem[] } = {
  cards: [
    {
      id: 1,
      title: "Work with tools you already use",
      description:
        "Deliver great service experiences fast - without the complexity of traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes with ease.",
      list: [
        "Continuous integration and deployment",
        "Development workflow",
        "Knowledge management"
      ],
      image: "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/features/feature-office-1.png",
      alt: "office feature image",
      reverse: false,
      message:
        "Deliver great service experiences fast - without the complexity of traditional ITSM solutions."
    },
    {
      id: 2,
      title: "We invest in the world’s potential",
      description:
        "Deliver great service experiences fast - without the complexity of traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes with ease.",
      list: ["Dynamic reports and dashboards", "Templates for everyone", "Development workflow"],
      image: "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/features/feature-office-2.png",
      alt: "office feature image 2",
      reverse: true,
      message:
        "Deliver great service experiences fast - without the complexity of traditional ITSM solutions."
    }
    // 2 More card should be added here
  ]
};
---

<section class="bg-gray-900">
  <div class="mx-auto max-w-screen-xl space-y-12 px-4 py-8 sm:py-16 lg:space-y-20 lg:px-6">
    {
      sectionData.cards.map((card) => {
        return <FeatureCard data={card} />;
      })
    }
  </div>
</section>
