---
import { featuresData } from "@data/featuresData";
import FeatureCard from "@components/FeatureCard.astro";
---

<section class="bg-gray-900" id="services">
  <div class="mx-auto max-w-screen-md text-center">
    <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-white">
      {featuresData.title}
    </h2>
    <p class="prose prose-invert font-light text-gray-300 sm:text-xl">
      {featuresData.description}
    </p>
  </div>
  <div class="mx-auto max-w-screen-xl space-y-12 px-4 py-8 sm:py-16 lg:space-y-20 lg:px-6">
    {featuresData.cards.map((card) => <FeatureCard data={card} />)}
  </div>
</section>
