<section class="bg-white antialiased dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:py-16 lg:px-6 lg:py-24">
    <div class="flex flex-col gap-8 lg:flex-row lg:items-center lg:gap-16">
      <div class="lg:max-w-xl xl:shrink-0">
        <div>
          <h2
            class="text-3xl font-extrabold leading-none tracking-tight text-gray-900 sm:text-5xl dark:text-white">
            Making earth cooler for people, nature, climate
          </h2>
          <p
            class="mt-5 text-base font-normal text-gray-500 sm:text-xl md:max-w-3xl dark:text-gray-400">
            Protecting the planet and its natural resources for future generations, by reducing
            pollution, promoting sustainability, and conserving energy and resources.
          </p>
        </div>

        <div class="mt-8 flex flex-col gap-4 sm:flex-row">
          <a
            href="#"
            title=""
            class="bg-primary-700 hover:bg-primary-800 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 w-full shrink-0 rounded-lg px-5 py-3 text-center text-base font-medium text-white focus:outline-none focus:ring-4 sm:w-[182px]"
            role="button">
            Donate now
          </a>

          <a
            href="#"
            title=""
            class="hover:text-primary-700 inline-flex w-full shrink-0 items-center justify-center rounded-lg border border-gray-200 bg-white px-5 py-3 text-center text-base font-medium text-gray-900 hover:bg-gray-100 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-200 sm:w-[182px] dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700"
            role="button">
            <svg
              aria-hidden="true"
              class="-ml-1 mr-2 h-5 w-5"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor">
              <path
                d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z"
              ></path>
            </svg>
            Learn more
          </a>
        </div>

        <div class="mt-4 sm:mt-8 sm:border-t sm:border-gray-100 sm:pt-8 dark:border-gray-700">
          <p class="hidden text-base font-medium text-gray-500 sm:block">Partners and backers:</p>

          <div class="mt-3 flex max-w-md items-center">
            <img
              class="mr-4 h-8 w-auto md:h-12"
              src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/customers/greenpeace.svg"
              alt=""
            />
            <img
              class="mr-8 h-8 w-auto md:h-12"
              src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/customers/united-nations.svg"
              alt=""
            />
            <img
              class="mr-8 h-8 w-auto md:h-12 dark:invert"
              src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/customers/wwf.svg"
              alt=""
            />
            <img
              class="h-8 w-auto md:h-12"
              src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/customers/oxfam.svg"
              alt=""
            />
          </div>
        </div>
      </div>

      <div id="default-carousel" class="relative w-full" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
          <!-- Item 1 -->
          <div class="hidden rounded-lg duration-700 ease-in-out" data-carousel-item>
            <img
              src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/ngo-carousel/image-1.jpg"
              class="absolute left-1/2 top-1/2 block w-full -translate-x-1/2 -translate-y-1/2 rounded-lg"
              alt=""
            />
          </div>
          <!-- Item 2 -->
          <div class="hidden rounded-lg duration-700 ease-in-out" data-carousel-item>
            <img
              src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/ngo-carousel/image-2.jpg"
              class="absolute left-1/2 top-1/2 block w-full -translate-x-1/2 -translate-y-1/2 rounded-lg"
              alt=""
            />
          </div>
          <!-- Item 3 -->
          <div class="hidden rounded-lg duration-700 ease-in-out" data-carousel-item>
            <img
              src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/ngo-carousel/image-3.jpg"
              class="absolute left-1/2 top-1/2 block w-full -translate-x-1/2 -translate-y-1/2 rounded-lg"
              alt=""
            />
          </div>
          <!-- Item 4 -->
          <div class="hidden rounded-lg duration-700 ease-in-out" data-carousel-item>
            <img
              src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/ngo-carousel/image-4.jpg"
              class="absolute left-1/2 top-1/2 block w-full -translate-x-1/2 -translate-y-1/2 rounded-lg"
              alt=""
            />
          </div>
          <!-- Item 5 -->
          <div class="hidden rounded-lg duration-700 ease-in-out" data-carousel-item>
            <img
              src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/ngo-carousel/image-5.jpg"
              class="absolute left-1/2 top-1/2 block w-full -translate-x-1/2 -translate-y-1/2 rounded-lg"
              alt=""
            />
          </div>
        </div>
        <!-- Slider indicators -->
        <div class="absolute bottom-5 left-1/2 z-30 flex -translate-x-1/2 space-x-3">
          <button
            type="button"
            class="h-3 w-3 rounded-full"
            aria-current="true"
            aria-label="Slide 1"
            data-carousel-slide-to="0"></button>
          <button
            type="button"
            class="h-3 w-3 rounded-full"
            aria-current="false"
            aria-label="Slide 2"
            data-carousel-slide-to="1"></button>
          <button
            type="button"
            class="h-3 w-3 rounded-full"
            aria-current="false"
            aria-label="Slide 3"
            data-carousel-slide-to="2"></button>
          <button
            type="button"
            class="h-3 w-3 rounded-full"
            aria-current="false"
            aria-label="Slide 4"
            data-carousel-slide-to="3"></button>
          <button
            type="button"
            class="h-3 w-3 rounded-full"
            aria-current="false"
            aria-label="Slide 5"
            data-carousel-slide-to="4"></button>
        </div>
        <!-- Slider controls -->
        <button
          type="button"
          class="group absolute left-0 top-0 z-30 flex h-full cursor-pointer items-center justify-center px-4 focus:outline-none"
          data-carousel-prev>
          <span
            class="inline-flex h-8 w-8 items-center justify-center rounded-full bg-white/30 group-hover:bg-white/50 group-focus:outline-none group-focus:ring-4 group-focus:ring-white sm:h-10 sm:w-10 dark:bg-gray-800/30 dark:group-hover:bg-gray-800/60 dark:group-focus:ring-gray-800/70">
            <svg
              aria-hidden="true"
              class="h-5 w-5 text-white sm:h-6 sm:w-6 dark:text-gray-800"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 19l-7-7 7-7"></path></svg
            >
            <span class="sr-only">Previous</span>
          </span>
        </button>
        <button
          type="button"
          class="group absolute right-0 top-0 z-30 flex h-full cursor-pointer items-center justify-center px-4 focus:outline-none"
          data-carousel-next>
          <span
            class="inline-flex h-8 w-8 items-center justify-center rounded-full bg-white/30 group-hover:bg-white/50 group-focus:outline-none group-focus:ring-4 group-focus:ring-white sm:h-10 sm:w-10 dark:bg-gray-800/30 dark:group-hover:bg-gray-800/60 dark:group-focus:ring-gray-800/70">
            <svg
              aria-hidden="true"
              class="h-5 w-5 text-white sm:h-6 sm:w-6 dark:text-gray-800"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"></path></svg
            >
            <span class="sr-only">Next</span>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>

<script is:inline>
  const carouselElement = document.getElementById("default-carousel");

  const items = [
    {
      position: 0,
      el: document.getElementById("carousel-item-1")
    },
    {
      position: 1,
      el: document.getElementById("carousel-item-2")
    },
    {
      position: 2,
      el: document.getElementById("carousel-item-3")
    },
    {
      position: 3,
      el: document.getElementById("carousel-item-4")
    }
  ];

  // options with default values
  const options = {
    defaultPosition: 1,
    interval: 3000,

    indicators: {
      activeClasses: "bg-white dark:bg-gray-800",
      inactiveClasses: "bg-white/50 dark:bg-gray-800/50 hover:bg-white dark:hover:bg-gray-800",
      items: [
        {
          position: 0,
          el: document.getElementById("carousel-indicator-1")
        },
        {
          position: 1,
          el: document.getElementById("carousel-indicator-2")
        },
        {
          position: 2,
          el: document.getElementById("carousel-indicator-3")
        },
        {
          position: 3,
          el: document.getElementById("carousel-indicator-4")
        }
      ]
    },

    // callback functions
    onNext: () => {
      console.log("next slider item is shown");
    },
    onPrev: () => {
      console.log("previous slider item is shown");
    },
    onChange: () => {
      console.log("new slider item has been shown");
    }
  };

  // instance options object
  const instanceOptions = {
    id: "carousel-example",
    override: true
  };
</script>
