---
import type { ProjectCardItem } from "@data/types";
import ProjectCard from "@components/ProjectCard.astro";

type ProjectSectionData = {
  title: string;
  description: string;
  cards: ProjectCardItem[];
};

const sectionData: ProjectSectionData = {
  title: "Our Blog",
  description:
    "We use an agile approach to test assumptions and connect with the needs of your audience early and often.",
  cards: [
    {
      id: 1,
      title: "Our first office",
      subTitle:
        "Over the past year, Volosoft has undergone many changes! After months of preparation and some hard work, we moved to our new office.",
      description:
        "Over the past year, Volosoft has undergone many changes! After months of preparation and some hard work, we moved to our new office.",
      tags: ["Article"],
      images: [
        {
          img: "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/blog/office-laptops.png",
          description: "office laptop working",
          title: "office laptop working"
        },
        {
          img: "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/blog/google-hq.png",
          description: "Google HQ",
          title: "Google HQ"
        },
        {
          img: "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/blog/office-laptops-2.png",
          description: "office laptops",
          title: "office laptops"
        }
      ], // carousel items - image description and title
      items: ["we moved to our new office", "we got a new logo", "we changed our name"],
      location: "New York, NY",
      date: "2021-08-15",
      projectPrice: "$10,000,000"
    },
    {
      id: 2,
      title: "We partnered up with Google",
      subTitle:
        "Over the past year, Some Company has undergone many changes! After months of preparation and some hard work, they moved to their new office.",
      description:
        "Company has undergone many changes! After months of preparation and some hard work, they moved to their new office.",
      tags: ["Article", "Recipe"],
      images: [
        {
          img: "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/blog/office-laptops.png",
          description: "office laptop working",
          title: "office laptop working"
        },
        {
          img: "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/blog/google-hq.png",
          description: "Google HQ",
          title: "Google HQ"
        },
        {
          img: "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/blog/office-laptops-2.png",
          description: "office laptops",
          title: "office laptops"
        }
      ],
      items: ["we moved to out of space", "we got sick", "we changed our gender"],
      location: "London, UK",
      date: "2023-02-25",
      projectPrice: "€80,000,000"
    },
    {
      id: 3,
      title: "Our first project with React",
      subTitle:
        "Dummy Company has undergone many changes! After months of preparation and some hard work, they moved to somewhere.",
      description: "After months of preparation and some hard work, they moved to somewhere.",
      tags: ["Article", "React"],
      images: [
        {
          img: "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/blog/office-laptops.png",
          description: "office laptop working",
          title: "office laptop title"
        },
        {
          img: "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/blog/office-laptops-2.png",
          description: "office laptops",
          title: "office laptops"
        },
        {
          img: "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/blog/google-hq.png",
          description: "Google HQ",
          title: "Google HQ"
        }
      ],
      items: ["we moved to somewhere", "we got corn", "we painted our name"],
      location: "Tel Aviv, IL ",
      date: "2023-04-15",
      projectPrice: "₪120,000,000"
    },
    {
      id: 4,
      title: "We are making up dummy data",
      subTitle:
        "Dummy Company has undergone many changes! After months of preparation and some hard work, they moved to somewhere.",
      description: "After months of preparation and some hard work, they moved to somewhere.",
      tags: ["Article", "Dummy Data"],
      images: [
        {
          img: "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/blog/google-hq.png",
          description: "Google HQ",
          title: "Google HQ"
        },
        {
          img: "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/blog/office-laptops.png",
          description: "office laptop working",
          title: "office laptop working"
        },
        {
          img: "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/blog/office-laptops-2.png",
          description: "office laptops",
          title: "office laptops"
        }
      ],
      items: ["we destroyed the world", "we got cookies", "we discovered a new planet"],
      location: "Tel Aviv, IL ",
      date: "2024-08-10",
      projectPrice: "₪26,500,000"
    }
  ]
};
---

<section class="bg-white dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl px-4 py-8 lg:px-6 lg:py-16">
    <div class="mx-auto mb-8 max-w-screen-sm text-center lg:mb-16">
      <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white">
        {sectionData.title}
      </h2>
      <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
        {sectionData.description}
      </p>
    </div>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
      {sectionData.cards.map((card) => <ProjectCard data={card} />)}
    </div>
  </div>
</section>
