---
import { projectsData } from "@data/projectsData";
import ProjectCard from "@components/ProjectCard.astro";
---

<section class="bg-gray-900" id="projects">
  <div class="mx-auto max-w-screen-xl px-4 py-8 lg:px-6 lg:py-16">
    <div class="mx-auto mb-8 max-w-screen-sm text-center lg:mb-16">
      <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-white">
        {projectsData.title}
      </h2>
      <p class="font-light text-gray-400 sm:text-xl">
        {projectsData.description}
      </p>
    </div>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
      {projectsData.cards.map((card) => <ProjectCard data={card} addDescription={true} />)}
    </div>
  </div>
</section>
